# Quick Start

Jupyter notebook supports markdown mode to have title format like this and enter math equations.

---

# Variables

The naming conventions for python is using lowercase to avoid confusion with class. You can use built in type function to get the type of variable

In [11]:
#Example
type(1.3)

float

## Numbers

In [12]:
#Complex number i = sqrt(-1). In python, the complex number is notated with j
print(1j* 1j)

(-1+0j)

## String
List of characters. You can concatenate and perform various function with a string

In [14]:
my_str1 = 'Hello '
my_str2 = 'World!'
print(my_str1 + my_str2)

Hello World!

## Boolean
The python is case sensitive programming language. For example booleans are expressed with capital letter.

In [15]:
#Example
type(True)

bool

In [16]:
type(False)

bool

---
# Data Structure


## List
List of data elements which maintains the defined order. List is mutable data structure which supports nested list.

In [18]:
#Example
my_list = [4,"Hi",[1,2,3]]

In [19]:
#There are built in function for list like len. Note: list in the nested list considered as one element in the list.
print(len(my_list))

3

## Set
Similar to list but items must be unique and order does not matter

In [21]:
#Unique property
print(set([1,2,3,3,4]))

{1, 2, 3, 4}

In [26]:
#Order property
#List
print([1,2] == [2,1])

print({1,2} == {2,1})

False
True

## Tuple
Similar to list the order matters. Unlike list, tuples data structure is immutable. Tuple will not allocate additional memory for potenial edits.

## Dictionary
Key-value pair data structure such that the key must be unique similar to set. Similar to set you can create dictionary with duplicate key but python will get rid of the duplication

In [32]:
my_dict = {
    'apple' : 'red',
    'orange': 'orange',
    'apple' : 'blue'
}
print(my_dict['apple'])

blue

---
# Operators

## Arithmatics

In [33]:
#Addition 
1+1

2

In [34]:
#multiplication
2*2

4

In [35]:
#division
4/2

2.0

In [37]:
#mod - provides remainder
20 % 3

2

## Arithmatics String Operation

In [38]:
#Concatenation
'Hello ' + " World!"

'Hello  World!'

In [41]:
#Multiplication
"Hi " * 3 + "!"

'Hi Hi Hi !'

## Comparison, Logical, Membership Operator

In [43]:
#equal
40==41

False

In [44]:
#greater than/less than
40<41

True

In [45]:
#greater than or less than equal to 
40<=40

True

## Logical Operator (or, and, not)

In [46]:
True or False

True

In [47]:
True and False

False

In [48]:
True and True

True

In [50]:
not True

False

## Membership

In [52]:
10 in [1,3,3]

False

'Cat' in ['Cat','Dog']

In [55]:
10 not in [1,2,3]

True

# Control Flow

## If/Else Statement

In [3]:
a = False

if a:
    print("a is true")
else:
    print("a is false")

print("This gets printed every time")

#you can have nested if statement to test multiple conditions

a is false
This gets printed every time

## Loops & While

In [4]:
#python will iterate through iterable items in a loop
my_list = [1,2,3,4,5]

for item in my_list:
    print(item)

1
2
3
4
5

In [6]:
#python repeat a block of code based on the condition through while loop
a = 0 

while a < len(my_list):
    print(my_list[a])
    a = a + 1

1
2
3
4
5

# Functions, Class, and Objects

In [22]:
#function is block of code that you can call and execute which may or may not return output
#class connection of variable of function to better manage your code 
#class name are capitalized to distinguished from functions

class Dog: 
    def __init__(self, name):
        self.name = name
        self.legs = 4
        
    def speak(self):
        print(self.name + " says Bark!")

In [23]:
my_dog = Dog("Fluffy")

In [24]:
my_dog.speak()

Fluffy says Bark!

# Challenge

In [33]:
#This is factorial functions

def factorial(num):
    
    factorial = 1
    
    #validate the input is integer
    if type(num) is not int or num < 0:
        return None
    
    if num == 0:
        return 1
    
    while num > 0:
        factorial = factorial * num
        num = num - 1
    return factorial

In [35]:
factorial(3)

6

In [36]:
#this is factorial function with recusion

def factorial_recur(num):
    #validate the input is integer
    if type(num) is not int or num < 0:
        return None
    
    if num == 0:
        return 1
    
    return num * factorial_recur(num-1)

In [37]:
factorial_recur(3)

6