# List 

## List Slicing

In [8]:
#list[start:end:step_size]
my_list = [1,2,3,4,5]
print(my_list[2::2])

[3, 5]

In [9]:
#range(n) - give you a range from 0 to n-1
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Modifying Lists

In [10]:
my_list.append(6)

In [11]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [13]:
my_list.remove(5)

In [14]:
my_list

[1, 2, 3, 4, 6]

In [15]:
my_list.pop()

6

In [16]:
print(my_list)

[1, 2, 3, 4]

In [18]:
#Nice boolean trick to remove items from the list
while len(my_list):
    my_list.pop()
    
print(my_list)

[]

In [20]:
#when you assign variable to a list, they simply have pointer to the specific location of the memory 

a = [1,2,3]
b = a 

#modifying variable a will modify the same list as b
a.append(4)
print(b)

[1, 2, 3, 4]

In [26]:
#To copy the list to another variable you need to use the copy function
b = a.copy()
a.append(5)
print(b)
print(a)

[1, 2, 3, 4, 5, 5, 5]
[1, 2, 3, 4, 5, 5, 5, 5]

# Sets & Tuples

## Sets
You can use set to remove duplicate list values. However, sets is not subscriptable and order does not matter

In [27]:
#Remove Duplicate
my_set = {'a', 'b', 'c'}

my_list = [1,2,2,3,3,3,4,4,4,4]
print(set(my_list))

{1, 2, 3, 4}

In [31]:
#sets are not subscriptable. Therefore, my_set[0] will not work. 
#You can add/pop/discard element to the set
my_set.add('d')
print(my_set)
my_set.pop()
print(my_set)
my_set.discard('c')

{'d', 'a', 'b', 'c'}
{'a', 'b', 'c'}

In [32]:
print(my_set)

{'a', 'b'}

## Tuples

In [33]:
my_tuple = ('a','b','c')

In [35]:
#you can't modify tuple. They are more memory efficient compared to the list

#Note: Python does not require parenthesis around tuples

my_tuple2= 1,2,3
type(my_tuple2)

tuple

## Dictionary

Dictionary is key value pair data structures

In [36]:
animals = {
    'a' : 'aardvark',
    'b' : 'bear',
    'c' : 'cat'
}

In [37]:
animals['a']

'aardvark'

In [38]:
#You can modifty value assignment of dictionary
animals['a'] = 'antelope'

In [39]:
print(animals)

{'a': 'antelope', 'b': 'bear', 'c': 'cat'}

In [40]:
#you can get len of dictionary
len(animals)

3

In [42]:
#You can add list ot the dictionary

animals = {
    'a' : ['aardvark', 'antelope'],
    'b' : ['bear'],
    'c' : ['cat'],
}

In [49]:
#The dictionary with list can be achieved with defaultdict
from collections import defaultdict

cars = defaultdict(list)

In [50]:
cars['t'].append('tesla')

In [51]:
print(cars)

defaultdict(<class 'list'>, {'t': ['tesla']})

# List Comprehensions

In [56]:
my_list = [1,2,3,4,5]
double_list = [2 * num for num in my_list]

In [57]:
print(double_list)

[2, 4, 6, 8, 10]

In [58]:
#List comprehension can be used to filter list 
quad_list = [item for item in double_list if item % 4 == 0]

In [59]:
print(quad_list)

[4, 8]

In [60]:
#List comprehension with functions
my_str = "My name is Andy Kim. I live in Beijing"

#code to get word less than 3
print([words for words in my_str.split() if len(words) < 3])

['My', 'is', 'I', 'in']

## Nested List

# Dictionary

In [68]:
animal_list = [('a','aardvark'),('b','bear'),('c','cat')]

#dictionary comprehension
animal_dict = {animal[0] : animal[1] for animal in animal_list}

In [69]:
print(animal_dict)

{'a': 'aardvark', 'b': 'bear', 'c': 'cat'}

In [76]:
#More elegant way
animal_dict = {key : value for key, value in animal_list}

In [77]:
print(animal_dict)

{'a': 'aardvark', 'b': 'bear', 'c': 'cat'}

# Challenge

Write a function "encodeString" that will encode a string like 'AAAAABBBBAAA' as a list of tuples: [('A', 5), ('B', 4), ('A', 3)] meaning that the string has "5 A's, followed by 4 B's, followed by 3 A's"

Then use that function to compress a string containing "ASCII Art" (https://en.wikipedia.org/wiki/ASCII_art)

Write a corresponding function "decodeString" that will take in a list of tuples and print the original string.

In [79]:
def encodeString(stringVal):
    pass

def decodeString(encodedList):
    pass